@import "app/styles/style-flat-variables"

#share-licenses-component
  .list-item
    transition: all 0.5s ease-out
  .list-enter
    background-color: $navy
  
  .error-message
    color: red
  
  input
    width: 100%
  .add-teacher-btn
    width: 100%
