extends /templates/core/modal-base-flat

block modal-header
  h3.text-center
    span(data-i18n="teacher.share_licenses")
      | Share Licenses

block modal-body
  #share-licenses-component

block modal-footer
